*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

#calc_div {
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid lightgray;
  height: 35rem;
  background-color: white;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;

}



h1 {
  padding-left: 2.2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(68, 64, 64);
}

#line {
  height: 0px;
  width: 90%;
  margin-left: 5%;
  border-bottom: 1px solid lightgray;
}


/* установим отступ 1rem от нижнего края элемента */
.input-field {
  margin-bottom: 1rem;
  float: left;
  margin-left: 4.5em;
  margin-top: 3em;
}

/* стили для label */
.input-field__label {
  display: block;
  margin-bottom: 0.25rem;
}

/* стили для input */
.input-field__input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#calc_data-field {
  margin-top: 9rem;
}

#calc_info-field__label {
  width: 100%;
  font-size: 6em;
  color: green;
  margin-left: 4rem;

}

#error_text-field__label {
  width: 100%;
  font-size: 1.3rem;
  color: black;
  /* color: rgb(226, 32, 32); */
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-top: 5rem;
}

#error-field {
  margin-top: 3rem;

}

#btn_calculate {
  margin-top: 4rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  display: flex;
}

button {
  height: 4rem;
  width: 12rem;
  font-size: 1.5rem;
  background-color: white;
  border: 0px;
}

#button_reset {
  margin-left: auto;
}

#bank_list_link{
  display: flex;
  margin-right: 5%;
}

#bank_list_link a img{
  margin-left: auto;
  width: 40px;
  margin-top: 1.5rem;
}

#bank_list_link h1{
  margin-right: auto;
}
