*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

#main_div {

    margin-top: 70px;
    margin-bottom: 70px;
    background-color:rgba(209, 241, 235, 0.604);
    border: 1px solid rgb(5, 212, 174);
    ;
}

#tab_id {

    width: 1100px;
    border-collapse: collapse;

}

td {

    width: 10%;
    height: 40px;
    border: 1pt solid grey;
    background-color: white;

}

input {

    width: 80%;
    height: 40px;
    margin-left: 5%;
    border: 0ch;
    font-size: medium;

}

*:focus {

    outline: none;

}

#tab_header td {

    width: 10%;
    height: 50px;
    background-color: rgb(222, 231, 244);
    text-align: center;
    border: 1pt solid grey;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;

}

.selected input {
    background-color: rgb(238, 238, 252);
}

.selected td {
    background-color: rgb(238, 238, 252);
}

/* #btn_calculate button {
    width: 10rem;
    margin-bottom: 0.4rem;
    background-color: lightblue;

} */

#top_div {
    display: flex;
    height: 50px;
    width: 1100px;
    background-color: rgb(40, 56, 69);
}

#top_div h1 {
    margin-right: auto;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

#top_div button {
    width: 9em;
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    background-color: rgb(121, 135, 135);
    height: 35px;
    border: 0px;
    border-radius: 0.5ch;
}

#top_div img {
    height: 30px;
}

/* RGB(21, 154, 129)
RGB(42, 124, 179)
RGB(189, 61, 48)
RGB(43, 60, 77)
RGB(121, 135, 135)
RGB(202, 81, 0) */